body, html
{
    background-color: #AEAEAE;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.center
{
    margin: auto;
    margin-top: 10px;
    width: 600px;
    min-height: 400px;
    border: 1px solid #000;
    background-color: #FFF;
    padding: 8px;
    
}

.button
{
    min-height: 32px;
    min-width: 128px;
}

.button:hover
{
    font-weight:bold;
}

.window
{
    overflow:scroll;
    border: 1px dotted #000;
    min-width: 400px;
    height: 200px;
}

.input_text
{
    border: 1px solid #DDD;
}
.input_text:hover
{
    border: 1px solid #000;
}

#input_form
{
    width: 100%;
    min-height: 50px;
}

#feedback
{
    width: 100%;
}